* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: grid;
  height: 80px;
  width: 250px;
  background: linear-gradient(#9365ff, #6f3bff);
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  place-items: center;
  font-family: sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 3px;
  border-radius: 5px;
}
